<div class="row">
	<div class="col-lg-12">
			<% if !flash[:notice].blank? %>
		    <div class="alert alert-<%= flash[:status] %> alert-dismissable">
		    	<div class="container">
			      <%= flash[:notice] %>
		      </div> <!-- .container -->
			  </div> <!-- .alert -->
			<% end %>
	</div> <!-- .col-lg-12 -->
</div> <!-- .row -->

<div class="row">
  <div class="col-lg-12">

		<ul class="pull-right hidden-xs">
			<li class="action-items">
				<%= link_to qr_code_path(:id => @active_widget.id, :format => 'svg') do %>
					<button class="btn btn-default">Generate QR <span class="glyphicon glyphicon-qrcode"></span></button>
				<% end %>
			</li>
			<li class="action-items">
				<div class="dropdown">
				  <a data-toggle="dropdown" href="#"><button class="btn btn-default">Check in/out <span class="glyphicon glyphicon-ok"></span> <span class="caret"></span></button></a>
				  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
						<li role="presentation" ><a href="#">Check In</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation" ><a href="#">Check Out</a></li>
				  </ul>
				</div> <!-- Check In/out dropdown -->
			</li>
		</ul> <!-- action icons with labels -->

		<ul class="pull-right visible-xs">
			<li class="action-items"><button class="btn btn-default"><span class="glyphicon glyphicon-qrcode"></span></button></li>
						<li class="action-items">
				<div class="dropdown">
				  <a data-toggle="dropdown" href="#"><button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> <span class="caret"></span></button></a>
				  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
						<li role="presentation" ><a href="#">Check In</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation" ><a href="#">Check Out</a></li>
				  </ul>
				</div> <!-- Check In/out dropdown -->
			</li>
		</ul> <!-- action icons without labels -->

    <h1><%= @active_widget.simple_name %></h1>
    <ol class="breadcrumb">
      <li><a href="/items"><i class="icon-dashboard"></i> Inventory</a></li>
      <li class="active"><i class="icon-file-alt"></i> <%= @active_widget.simple_name %></li>
    </ol>
  </div> <!-- .col -->
</div><!-- /.row -->

<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-pencil"></span></button>
				<h3 class="panel-title">Item Overview</h3>
			</div> <!-- .panel-heading -->
			<div class="panel-body">
				<ul>
					<li>ID: <%= @active_widget.id %></li>
					<li>Location: <%= @active_widget.location %></li>
					<li>Assigned to: TO_ADD-Person</li>
					<li>Status: <span class="label label-success">In</span></li>
				</ul>				
			</div> <!-- .panel-body -->
		</div> <!-- .panel -->
	</div> <!-- .col -->

	<div class="col-lg-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= link_to properties_path(id: @active_widget.id), { :remote => true, 'data-toggle' => "modal", 'data-target' => "#properties-modal"} do %>
					<button class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-pencil"></span></button>
				<% end %>
				<h3 class="panel-title">Item Description</h3>
			</div> <!-- .panel-heading -->
			<div class="panel-body">
				<ul>
					<% @active_widget.properties.each do |(key, value)| %>
						<li><%= "#{key}: #{value}" %></li>
					<% end %>
				</ul>
			</div> <!-- .panel-body -->
		</div> <!-- .panel -->
	</div> <!-- .col -->

	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-pencil"></span></button>
				<h3 class="panel-title">Image</h3>
			</div> <!-- .panel-header -->
			<div class="panel-body text-center">
				<%= image_tag "/media/#{@active_widget.id}.png", class: 'img-thumbnail img-responsive' %>
			</div> <!-- .panel-body -->
		</div> <!-- .panel -->
	</div> <!-- .col -->
</div> <!-- .row -->

<div class="row">
  <div class="col-lg-12">
  	<div class="panel panel-default">
			<div class="panel-heading">
				<%= link_to service_add_path({:id => @active_widget.id}), { :remote => true, 'data-toggle' => "modal", 'data-target' => "#service-add-modal", :class => "btn btn-xs btn-default pull-right"} do %>
					<span class="glyphicon glyphicon-plus"></span>
				<% end %>
				<h3 class="panel-title">Service History</h3>
			</div> <!-- .panel-header -->
			<div class="panel-body">
				<div class="table-responsive">
				  <table class="table table-hover tablesorter">
				    <thead>
				      <tr>
				        <th>Short Description</th>
				        <th>Complete?</th>
				        <th>Start Date</th>
				        <th>Completed Date</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
							<% @service_list.each do |s| %>
								<tr>
									<td><%= s.short_description %></td>
									<td><%= complete_label(s.completed).html_safe %></td>
									<td><%= s.start %></td>
									<td><%= s.finish ? s.finish : "-----" %></td>
									<td>
									<td>
										<%= link_to notes_path(:wid => @active_widget.id, :sid => s.id), { :remote => true, 'data-toggle' => "modal", 'data-target' => "#notes-modal"} do %>
											<span class="label label-primary">Notes</span>
										<% end %>
									</td>
								</tr>
							<% end %>
				    </tbody>
				  </table>
				</div> <!-- .table-responsive -->
			</div> <!-- .panel-body -->
  	</div> <!-- .panel -->
  </div> <!-- .col -->
</div> <!-- .row -->

<!-- Notes Modal -->
<div class="modal fade" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="service-add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="properties-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
